*{
	margin: 0;
	padding:0;
	list-style:none;
	text-decoration: none;
}
.back{
	width:100%;
	height:100%;
	display:block;
	background-color:#282828;
}
.header{
	width: 100%;
	height: 80px;
	display: block;
	background-color: #101010;
}
.inner_header{
	width: 1000px;
	height:100%;
	display:block;
	margin:0 auto;
	
}
.sitename{
	height:100%;
	display: table;
	float: left;
	
}
.sitename h1{
	color:white;
	height:100%;
	display:table-cell;
	vertical-align:middle;
}
.nav{
	float:right;
	height:100%;
}
.nav a{
	height:100%;
	display:table;
	float:left;
	padding:0px 20px;
}
.nav a li{
	display:table-cell;
	vertical-align:middle;
	height:100%;
	color:white;
}

.pretty{
	color:A8A8A8;
	text-align: center;
}