*{
	margin: 0;
	padding:0;
	list-style:none;
	text-decoration: none;
}
.wrapper, html, body {
    height: 100%;
    margin: 0;
}
body{
	min-height: 100%;
}
.main{
	display:flex;
	flex-direction: column;
	min-height: 100%;
	width:100%;
	align-items: stretch;
}

.header{
	display:flex;
	height:60px;
	width: 100%;
	flex-direction: column;
	background-color: #101010;
}
.navbar{
	display:flex;
	flex-direction: row;
	flex-basis: 100%;
	justify-content: space-between;
	align-items: stretch;
	margin:0px 20px;
	padding:0px 100px;
	align-content: stretch;
}

.links{
	display:flex;
	flex-direction: row;
	width:100%;
	flex-basis: content;
}

.links a{
	display:flex;
	align-content: center;
	align-items: center;
}

.link{
	padding:0px 20px;
	color:white;
}

.links a:hover .link{
	color:black;
}
.links a:hover{
	background-color: #ddd;
	text-decoration: none;
}
.leaderboard{
	display:flex;
	align-items:center;
	flex-direction:column;
}
.leaderboardName{

}
.leaderboardPrecursor{
	display:flex;
	align-items:center;
	flex-direction:column;
}
.leaderboardStats{
	
}





.sitename{
	display:flex;
align-self: center;

}
.sitename h1{
	flex-basis: content;
	align-self: center;
	color:white;
	height:100%;
}


.mainbody{
	display:flex;
	color:#A8A8A8;
	font-family:-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,Noto Sans,Liberation Sans,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji;
	width:100%;
	background-color:#282828;
	justify-content: center;
	align-self:flex-end;
	min-height:100%;
	flex: 2;
}
.leadpage{

}
.leaderboardTitle{

}
.leaderboardBody{

}
.ml{
	display:flex;
	align-items: center;
	justify-content:center;
	flex-direction:row;
}
.pic-body{
	display:flex;
	justify-content:center;
	align-items:center;
	margin:2px 0px;
	padding:2px 0px;
	width:300px;
	height:300px;
	border:15px;
	border-radius: 20px;
	background-color:black;

}
img {
  border-radius: 1px;
}
.profile img{

	border-radius:15px;
}
.role-body{
	display:flex;
	font-size:25;
	line-height:25;
	font-weight: 500;
	height:50px;
	width:300px;
	flex-direction: column;
	align-items: center;
	justify-content:center;
	border-radius: 15px;
	background-color:black;
}
.level-body{
	display:flex;
	flex-direction: column;
	justify-content:space-between;
	align-items:center;
	margin:2px 0px;
	padding:2px 0px;
	height:45px;
	width:300px;
	border:1px;
	border-radius: 10px;
	background-color:black;
}
.profile{
	display:flex;
	flex-direction: column;
	align-items:center;
	width:22%;
	padding:20px;
}

.posratio{
	color:green;
}
.negratio{
	color:red;
}
.winner{
	color:#00ff3c;
	font-weight: bold;
}
.secondPlace{
	color:#afc9bc;
	font-weight: bold;
}
.thirdPlace{
	color:#450e0e;
	font-weight: bold;
}
.loser{
}
.demoted{
	color:red;
	font-weight: bold;
}
.aug{
	color:cyan;
	font-weight:bold;
}
.developer{
	color:yellow;
	font-weight:900;
	font-size:30px;
	line-height:30px;
}

.mr{
	display:flex;
	flex-direction:row;
	align-items: center;
	justify-content:center;
	width:25%;
	flex: 0 0 0px;
}
.stat{
	display:flex;
	flex-direction: column;
	width:300px;
	margin:5px 2.125px;
	flex: 0 0 0px;
}
.stat-title{
	display:flex;
	font-weight: 400;
	font-size:50px;
	height:90px;
	width:300px;
	flex-direction: column;
	align-items: center;
	justify-content:center;
	border-radius: 15px;
	background-color:black;
}
.stat-body{
	display:flex;
	justify-content:space-between;
	align-items:center;
	margin:2px 0px;
	padding:2px 0px;
	height:30px;
	width:300px;
	border:1px;
	border-radius: 10px;
	background-color:black;
}
.stat-name{
	padding: 0px 15px;
}
.stat-value{
	padding: 0px 15px;
}
.rank{
	display:flex;
	flex-direction: column;
	width:60px;
	margin:5px 2.125px;
	flex: 0 0 0px;
}
.rank-title{
	display:flex;
	font-weight: 400;
	font-size:50px;
	height:90px;
	width:60px;
	flex-direction: column;
	align-items: center;
	justify-content:center;
	border-radius: 15px;
	background-color:black;
}
.rank-body{
	display:flex;
	justify-content:center;
	align-items:center;
	margin:2px 0px;
	padding:2px 0px;
	height:30px;
	width:60px;
	border:1px;
	border-radius: 20px;
	background-color:black;
}
.mm{
	display:flex;
	flex-direction: column;
	align-items:center;
	width:45%;
	padding:20px;
}
.mmt{
	display:flex;
	flex-direction: column;
	align-items:center;
	flex-basis: 10%;
}
.role{
	align-text:center;
	font-size:50px;
}
.ign{
	display:flex;
	font-size:50px;
	font-weight: 700;
	height:100px;
	flex-basis: content;
	border-radius: 15px;
	padding:5px 15px;
	background-color:black;
	white-space:nowrap;
}

.mmm{
	display:flex;
	align-items: stretch;
	flex-basis: 90%;
}
.leftmiddle{
	flex:50%;
}
.rightmiddle{
	flex:50%;
}

.mbm{
}







.pretty{
	display:flex;
	padding:30px;
	flex-basis: content;
	align-items: stretch;
	flex-direction: column;
	color:A8A8A8;
}
.pretty .gent{
	align-self: center;
	
}
.pretty .baby{
	align-self: center;
	
}
.pretty table, th, td {
	color:A8A8A8;
	border:2px solid black;
	border-style: solid;
	border-radius: 1px;
	margin: auto;
	table-layout: fixed; 
	border-collapse: collapse;
	/*width: 50%;*/
	padding: 1px;
}
.pretty td{
	text-align: center;
}
.pretty .gent{
	text-align: center;
}
.pretty td img{
	/* width: 50px;
	height: 50px; */
	float:left;
}
a:link{
  color:#A8A8A8;
  background-color: transparent;
  text-decoration: none;
}
a:visited {
  color: #A8A8A8;
  background-color: transparent;
  text-decoration: none;
}
a:hover {
  color: #A8A8A8;
  background-color: transparent;
  text-decoration: underline;
}
a:active {
  color: #A8A8A8;
  background-color: transparent;
  text-decoration: underline;
}
.footer{
	display:flex;

	align-self: flex-end;
	flex: 2;
	height:0px;
	width:100%;
	background-color:#282828;
	justify-content: center;
}
.mmm {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.leftmiddle, .rightmiddle {
    width: 220px;
    height: 220px;
}

